# Build output
dist/
lib/
*.tsbuildinfo

# Dependencies
node_modules/
.yarn/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE/Editors
.vscode/

# ESLint cache
.eslintcache

# Example app
example/node_modules/
example/.expo/
example/ios/
example/android/
